<div class="row" style="height: 100%;width: 100%;">
  <button class="btn btn-primary" (click)="onBack()" style="width:70px;height:60px;margin:15px;position: absolute;top: 86px;"><i class="bi bi-arrow-left-circle-fill"></i></button>
  <div style="height: inherit;text-align: center;">
    <img style="max-width:400px;" *ngIf="actu.photo" [src]="actu.photo">
    <h1 style="font-family: 'Fredoka One', cursive;word-break: break-word;padding: 10px;">{{ actu.title }}</h1>
    <h3 class="text-muted" style="font-size: 1em;">Rédigé par <strong>{{ actu.author }}</strong> le {{ actu.date }}</h3>
    <p style="padding: 15px;">{{ actu.content }}</p>
  </div>
</div>
